.stateAnnotation {
  font-size: 14px;
}

.scoreBox {
  position: absolute;
  display: flex;
    flex-direction: column;
}

.utilityButtonsBox {
  position: absolute;
  right: 5px;
  display: flex;
  flex-direction: column;
}

.utilityButtonsBox :not(button:first-child) {
  margin-top: 5px;
}
