.bar {
  height: 50px;
  display: flex;
}

.filler {
  display: flex;
  align-items: center;
  justify-content: center;
}

.kennedy-filler {
  background-color: blue;
}

.nixon-filler {
  background-color: red;
}

.byrd-filler {
  background-color: purple;
}

.unaligned-filler {
  background-color: darkgrey;
}

.label {
  padding: 7px;
  color: white;
  font-size: 16px;
}
